* {
    margin: 0;
    padding: 0;
}

#root{
    border: 1px solid #ebebeb;
    width: 640px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1)
}
#header{
    text-align: right;
}
#sub-title{
    margin-top:10px ;
    color: gray;
    font-size: 18px;
    font-weight: bold;
}
#header-title{
    font-style: italic;
}

